.box1{
    background-color: blue;
}
.grid{
    display: grid;

    grid-template-columns: repeat(12, 1fr);

    color:white;
}
.grid :nth-child(1){
    padding: 25px;
    /* background: aqua; */
    grid-column: 5 / 10;
}
.grid :nth-child(2){
    padding: 25px;
    background: rgb(98, 255, 0);
    grid-column: 10 / 13;
}
.grid :nth-child(3){
    padding: 25px;
    background: rgb(34, 102, 58);
    grid-column: 1/5;
    grid-row: 1/4;
}
.grid :nth-child(4){
    padding: 25px;
    background-color: rgb(255, 162, 0);
    grid-column: 5/-1;
}
.grid :nth-child(5){
    padding: 25px;
    background-color: rgb(255, 0, 102);
    grid-column: 5/-1;
}
.grid :nth-child(6){
    padding: 25px;
    background-color: rgb(110, 189, 189);
    grid-column: 1/9;
}
.grid :nth-child(7){
    padding: 25px;
    background-color: rgb(2, 7, 7);
    grid-column: 9/-1;
}
.grid :nth-child(8){
    padding: 25px;
    background-color: rgb(196, 131, 1);
    grid-column: 1/7;
}
.grid :nth-child(9){
    padding: 25px;
    background-color: rgb(29, 32, 32);
    grid-column: 7/-1;
}
.grid :nth-child(10){
    padding: 25px;
    background-color: rgb(0, 5, 5);
    grid-column: 3/6;
}
.grid :nth-child(11){
    padding: 25px;
    background-color: rgb(103, 1, 47);
    grid-column: 7/10   ;
}